configuration {
    modi:                   "drun,run,window";
    show-icons:             true;
    icon-theme:             "Papirus-Dark";
    display-drun:           "󰣆  Apps";
    display-run:            "  Run";
    display-window:         "  Windows";
    drun-display-format:    "{name}";
    font:                   "JetBrains Mono Nerd Font 13";
    terminal:               "kitty";

    /* Поведение */
    cycle:                  true;
    sidebar-mode:           false;
    hover-select:           true;
    me-select-entry:        "";
    me-accept-entry:        "MousePrimary";

    /* Keybindings */
    kb-cancel:              "Escape";
    kb-accept-entry:        "Return";
    kb-row-up:              "Up";
    kb-row-down:            "Down";
}
